
.container{
display: grid;
  gap: 10px;
  padding: 10px;
    
}

.itm{

  text-align: center;
  padding: 20px;
  font-size: 30px;

  
}



    

.item1 {
    border: 1px dotted;
    background-color: #dec;
    grid-column: 1;
    grid-row: 1/5;
  }
  
  .item2 {
    border: 1px dotted;
    grid-column: 2;
    background-color: #fcf4d0;
  }
  
  .item3 {
    border: 1px dotted;
    grid-column: 2;
    grid-row: 2/7;
    background-color: #cee;
  }
  .item4{
    border: 1px dotted;
    grid-column: 1 / span 7;
    grid-row: 3;
   background-color: #ffa; 
    
  }

  .item5{
    border: 1px dotted;
    grid-column: 4/2 span;
    grid-row:3/8;
    background-color: #fec;
  }
  .item6 {
    border: 1px dotted;
    background-color: #dec;
    grid-column: 1;
    grid-row: 1/5;
  }
  
  .item7 {
    border: 1px dotted;
    grid-column: 9;
    background-color: #fcf4d0;
  }
  
  .item8 {
    border: 1px dotted;
    grid-column: 9;
    grid-row: 7;
    background-color: #cee;
  }
  .item9{
    border: 1px dotted;
    grid-column: 1 / span 7;
    grid-row: 9;
   /background-color: #ffa; 
    
  }

  .item10{
    border: 1px dotted;
    grid-column: 2/2 span;
    grid-row:3/8;
    background-color: #fec;
  }
  .item11 {
    border: 1px dotted;
    background-color: #dec;
    grid-column: 7;
    grid-row: 1/5;
  }
  
  .item12 {
    border: 1px dotted;
    grid-column: 8;
    background-color: #fcf4d0;
  }
  
  .item13 {
    border: 1px dotted;
    grid-column: 2;
    grid-row: 2/9;
    background-color: #cee;
  }
  .item14{
    border: 1px dotted;
    grid-column: 5 / span 7;
    grid-row: 4;
    background-color: #ffa; 
    
  }

  .item15{
    border: 1px dotted;
    grid-column: 4/2 span;
    grid-row:3/8;
    background-color: #fec;
  }
  .item16 {
    border: 1px dotted;
    background-color: #dec;
    grid-column: 1;
    grid-row: 1/5;
  }
  
  .item17 {
    border: 1px dotted;
    grid-column: 7;
    background-color: #fcf4d0;
  }
  
  .item18 {
    border: 1px dotted;
    grid-column: 9;
    grid-row: 2/7;
    background-color: #cee;
  }
  .item19{
    border: 1px dotted;
    grid-column: 1 / span 7;
    grid-row: 3;
   background-color: #ffa; 
    
  }

  .item20{
    border: 1px dotted;
    grid-column: 4/2 span;
    grid-row:3/8;
    background-color: #fec;
  }
  
  .item21 {
    border: 1px dotted;
    grid-column: 7;
    background-color: #fcf4d0;
  }
  
  .item22 {
    border: 1px dotted;
    grid-column: 11;
    grid-row: 2/7;
    background-color: #cee;
  }
  .item23{
    border: 1px dotted;
    grid-column: 1 / span 7;
    grid-row: 9;
   background-color: #ffa; 
    
  }

  .item24{
    border: 1px dotted;
    grid-column: 4/2 span;
    grid-row:3/8;
    background-color: #fec;
  }